.profile{
  width: 100%;
  max-width: 350px;

  border-radius: 7px;
  background-color: rgb(224, 224, 221);
   box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    padding: 50px 0;
}

.avatar{
  display: block;
  width: 100%;
  max-width: 200px; 
}
.name{
  display: block;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.tag{
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(88, 89, 89);
}
.location{
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(88, 89, 89);
}

.stats{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;

   margin: 0;
   padding: 0;

   border-top: 2px solid white;
}
.item{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   padding: 10px;

  
}
.item:not(:last-child){
 border-right: 2px solid white;
}
.label{
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.quantity{

}